html, body{ margin: 0; color: #717074; font-family: Georgia,Verdana,sans-serif; font-size: 14px; height: 100%; }

.clearfix:before, .clearfix:after { display: table; line-height: 0; content: ""; }

.clearfix:after { clear: both; }

h1 {margin: 0;}
h5 {margin: 0;}

a img { border: medium none; }
a, a * { text-decoration: none; }

ul {list-style-type: none; margin: 0; padding: 0 }

.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.relative { position: relative; }

@dark-yellow: #F4D10D;
@light-yellow: #FAFA98;
@white-yellow: #FAFADE;

@dark-gray: #717074;
@light-gray: #e9e7e7;

@light-blue: #bfe4e1;
@white-blue: #E4F7F5;

@full-size: 960px;
@small-size: 620px;

#main {
  margin: 0 0 -50px 0;
  min-height: 100%;
  width: 100%;
}

#push {
  height: 50px;
}

.content {
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  width: @full-size;
}

.top .content { padding : 3px 10px 0 10px}

.half {
  width: 480px;
}

.column-left { width: 620px; float: left; padding-right: 20px }
.column-right { width: 320px; float: left; }
.pull-left { float: left; }
.pull-right { float: right; }

.column { float: left; }

span.m-only { display: none; }
span.d-only { display: inline; }
div.m-only { display: none; }
div.d-only { display: block; }

#header-size{ height: 115px; width: 100%; }

#closeMask { display:none; z-index:150; opacity:0.80; filter:alpha(opacity=80); background-color:black; width:100%;
  width:100%; height:100%; position:fixed; top:0; left:0;
}

#modal {
  position: absolute; z-index: 200; border: 5px solid lightgray; background-color: #fff; border-radius: 3px; padding: 10px; display: none;
  .large {width: 800px;}
  .close {position: absolute; top: 10px; right: 10px; z-index: 201; cursor: pointer; }
}

@media (max-width: @small-size) {
  #modal .large { width: 550px; }
}

.message-module {
  h3 { margin-bottom: 0}
  .message {height: 15px; font-size: 13px; margin-bottom: 2px;}

  form {
    background-color: @light-blue;
    border-radius: 5px;
    padding: 14px 14px 38px 14px;

    input, textarea {
      background-color: @light-gray; border: medium none;
    }
    input[type='submit'] { float: right; margin-right: 10px; border-radius: 5px; padding: 1px 13px;
      &:hover { cursor: pointer;}
    }
  }
}

.top {
  background-color: @dark-gray; height: 260px;
  .content { padding-top: 3px; }
  .image { height: 250px; overflow: hidden; position: relative; width: @full-size;
    img { height: 544px; left: 0; position: absolute; top: 0; width: @full-size; }
  }
}

.column-left{

  .message-module {
    form {
      input[type='text'] { width: 170px; margin: 0 5px 10px 5px; }
      textarea { margin-left: 5px; width: 576px; height: 40px; }
      input[type='submit'] { margin-top: 10px; }
    }
  }

  .member-icons {
    a {display: block; margin-bottom: 20px;}
    div {margin-left: 35px;}
    //div:nth-of-type(1) a:nth-of-type(1) img { width: 150px; height: 37px; }
    div:nth-of-type(1) a:nth-of-type(1) img { width: 150px; height: 127px; }
    div:nth-of-type(1) a:nth-of-type(2) img { width: 150px; height: 66px; }


    div:nth-of-type(2) a:nth-of-type(1) img { width: 150px; height: 60px; }
    div:nth-of-type(2) a:nth-of-type(2) img { width: 150px; height: 105px; }

    div:nth-of-type(3) a:nth-of-type(1) img { width: 150px; height: 150px; }
    div:nth-of-type(3) a:nth-of-type(2) img { width: 150px; height: 27px; }
  }
}

.column-right{

  .message-module {
    input[type='text'] { width: 278px; margin: 0 0 18px 0; padding: 7px; }
    textarea { width: 278px; padding: 7px; ; height: 60px; }
    input[type='submit'] { margin-top: 10px; }

    @media (max-width: @small-size) {
      input[type='text'] { width: 555px; font-size: 18px; }
      textarea { width: 555px; font-size: 18px; }
      input[type='submit'] { margin-right: 30px; margin-top: 3px;  padding:0px 60px; font-size: 18px; }
    }
  }

  .map h3 img{ width: 20px; height: 20px; margin-bottom: -3px;
    @media (max-width: @small-size){width: 30px; height: 30px;}
  }
  #map-canvas {
    width: 320px; height: 300px; margin-bottom: 20px;
    @media (max-width: @small-size) {width: 580px; height: 500px;}
  }

  .hours{
    li {margin: 2px 0;
      span {width: 110px; display: inline-block;}
    }
  }

}

.social-icons {
  h4 { margin-bottom: 8px;}
  ul li { margin: 0 10px; float: left; &:nth-of-type(2) {margin-top: 2px;} }
}

.restrict { vertical-align: super; font-size: 10px; }

@media (max-width: @small-size){
  h2 { font-size: 24px; }
  h3 { font-size: 22px; }
  h4 { font-size: 20px; }
  .content { width: 600px; }
  .column-left{ width: 600px; float: none; padding-right: 0 }
  .column-right{ width: 600px; float: none; }

  .top {
    height: 163px;
    .image { height: 153px; overflow: hidden; position: relative; width: 600px;
      img {  left: 0; position: absolute; top: -85px; width: 600px; height: auto; }
    }
  }
  #header-size{ height: 0}

  span.m-only { display: inline; }
  span.d-only { display: none; }
  div.m-only { display: block; }
  div.d-only { display: none; }
}

#header { background-color: #fff; border-bottom: 5px solid #717074; height: 110px; position: fixed; width: 100%; z-index: 100;
  #main-logo{ position: absolute; top: 10px; z-index: 1000; left: 10px;
    img { height: 90px; width: 108px; }
  }
  h2 { margin: 30px 0 20px 135px;}
  .tabs { margin-left: 135px; margin-top: 45px; height: 65px;
    li{ float: left;
      &.selected a {color: @dark-yellow;}
    }
    a { color: @dark-gray; font-size: 18px; margin-left: 37px; padding: 1px 0; text-decoration: none;
      &:hover { color: @dark-yellow; }
    }
  }

  .info { font-size: 13px; margin: 6px 20px 0 0;
    li{ margin-bottom: 5px;}
  }

  .social-top {
    margin-left: -12px;
    li { float: left; margin-left: 12px; }
    img {width: 21px; height: 21px; display: block;}
  }
  @media (max-width: 620px) {
    height: 270px; position: relative;
    #main-logo{ top: 33px; left: 200px;
      img { height: 145px; width: 170px; }
    }
    .tabs { margin-left: 10px; margin-top: 0;
      li{ float: none; margin: 15px 0}
      a { font-size: 30px; margin-left: 0; }
    }

    .info { font-size: 20px; margin: 20px 10px 0 0; width: 165px;
      > li{ margin-bottom: 25px;}
    }

    .social-top {
      margin-left: -25px;
      img { width: 26px; height: 26px; }
    }
  }
}


#footer { background-color: @dark-yellow; height: 28px; font-size: 15px; margin-top: 10px; padding-top: 12px;
  .address { float: left;  }
  .phone{ float: right; position: relative; }

  @media (max-width: @small-size) {
    height: 38px; font-size: 18px; padding-top: 16px;
  }
}

////////// PAGE HERE //////////

#home {
  .covid-link {
    font-size: 20px;
    margin-top: 10px;
    a { color: @dark-yellow; text-decoration: underline;}
  }
  .top { background-color: @dark-gray; height: 440px;
    .slide-show { overflow: hidden; position: relative; width: @full-size; height: 430px;
      ul { transition: left 3s; position: absolute; top: 0; left: 0;
        &.notransition { transition: none !important; }
        li { float: left; position: relative;
          div {position: absolute; color: white; z-index: 10;}
        }
        li.slide1 {
          img { top: -169px; left:0; }
          div { bottom: 20px; left: 20px; padding: 5px 20px; font-size: 23px;
            background-color: @dark-gray; opacity: .87;
          }
        }
        li.slide2 {
          img { top: -23px; left:0; }
          div {top: 20px; right: 20px; padding: 5px 20px; font-size: 23px;
            background-color: @dark-gray; opacity: .87;
            @media (max-width: @small-size) {top: 5px; }
          }
        }
        li.slide3 {
          img { top: -60px; left:0; }
          div {top: 20px; right: 20px; padding: 5px 20px; font-size: 23px;
            background-color: @dark-gray; opacity: .87;
            @media (max-width: @small-size) {top: 5px; }
          }
        }
        li.slide4 {
          img { top: -105px; left:0; }
          div {top: 168px; left: 20px; font-size: 27px; line-height: 40px;
            a {color: @dark-yellow; text-decoration: underline; display: block; }
            @media (max-width: @small-size) {background-color: @dark-gray; opacity: .87; padding: 5px 20px;
              top: 195px; left: 65px;
              a {display: inline; }
            }
          }
        }
        li.slide5 {
          img { top: -135px; left:0; }
          div { bottom: 20px; left: 55px; font-size: 27px;
            background-color: @dark-gray; opacity: .87; padding: 7px 15px;
            a {color: @dark-yellow; text-decoration: underline;  }
            @media (max-width: @small-size) { left:28px; bottom: 12px; width: 503px; }
          }
        }
        li.slide6 {
          img { top: -60px; left:0; }
          div { bottom: 35px; left: 35px; font-size: 27px;
            background-color: @dark-gray; opacity: .87; padding: 5px 20px;
            a{ color: #ffffff;
              &:hover {text-decoration: underline;}
            }
            span {font-size: 12px; vertical-align: super;}
          }
        }
        li.slide7 {
          img { top: -50px; left:0; }
          div { top: 27px; left: 35px; font-size: 27px;
            background-color: @dark-gray; opacity: .87; padding: 5px 20px;
            @media (max-width: @small-size) { left:24px; top: 7px; }
          }
        }
      }
      li { height: 430px; width: @full-size;}
      img { height: auto; width: @full-size; position: absolute; }
    }
  }

  .bottom {
    .column-left {
      h2 { text-align: center; margin: 30px 0 5px 0; }
      p { margin: 5px 22px 40px; text-align: center; font-size: 16px; }
    }

    .logos { margin-left: 20px;
      ul {width: 50%; float: left;}
      li {text-align: center;}
      img {margin-bottom: 10px; }
      ul:nth-of-type(1) li:nth-of-type(1) img { width: 150px; height: 127px; }
      ul:nth-of-type(1) li:nth-of-type(2) img { width: 175px; height: 51px; }
      ul:nth-of-type(2) li:nth-of-type(1) img { width: 200px; height: 94px; }
      ul:nth-of-type(2) li:nth-of-type(2) img { width: 200px; height: 65px; }
    }
  }

  @media (max-width: @small-size) {
    .top { height: 273px;
      .slide-show { width: 600px; height: 263px;
        ul li { width: 600px; height: 263px;
          &.slide1 img { top: -103px; }
          &.slide3 img { top: -48px; }
          &.slide4 img { top: -100px; }
          &.slide5 img { top: -47px; }
        }
        img {
          width: 600px;
        }
      }
    }
  }
}

#about-us {

  .top .slide-show { overflow: hidden; position: relative; width: @full-size; height: 250px;
    ul { position: absolute; top: 0; left: 0;
      &.notransition { transition: none !important; }
    }
    li {height: 250px; overflow: hidden; position: relative; width: 960px; float:left;
      &.slide1 img{ top: -132px; transform: rotate(-2deg); height: 580px; }
      &.slide2 img{ top: -188px; height: 580px; }
      &.slide3 img{ top: -112px; height: 580px; }
      &.slide4 img{ top: -175px; height: 580px; }
      &.slide5 img{ top: -98px;}
      img { left: 0; position: absolute; width: 960px; }
    }
  }

  .bottom {

    .sub-tabs { margin-bottom: 15px;
      li { margin: 10px 23px; font-size: 16px; float: left; cursor: pointer;
        &:hover { color: @dark-yellow; }
        &.selected { color: @dark-yellow; }
      }
    }

    .window {height: 800px; overflow-y: scroll; margin-left: 30px;
      h3{ margin-top: 0;}
      > li{ margin-bottom: 30px;
        &:last-of-type {margin-bottom: 400px;}
      }
    }

    .meet-doctor {
      img.doctor { width: 220px; height: 150px; float: left; margin-right: 10px; }
      img.family { float: right; margin-left: 10px; width: 260px; }
      .pro { margin-top: 45px; }
    }

    .team {
      h4 { margin-bottom: 0; span{ font-weight: normal; font-size: 12px;} }
      p:nth-of-type(1) {margin-top: 5px;}
      img { height: 150px; float: left; margin-right: 10px; }
    }

    .office {

      .slide-show { overflow: hidden; position: relative; width: 580px; height: 250px;
        ul { position: absolute; top: 0; left: 0; margin-left: 0;
          &.notransition { transition: none !important; }
        }
        li {height: 250px; overflow: hidden; position: relative; width: 580px; float:left;
          &.slide1 img{ top: -26px; }
          &.slide2 img{ top: -93px; }
          &.slide3 img{ top: -41px; }
          &.slide4 img{ top: -84px; }
          &.slide5 img{ top: -97px; }
          &.slide6 img{ top: -101px; }
          &.slide7 img{ top: -76px; }
          &.slide8 img{ top: -71px; }
          &.slide9 img{ top: -118px; }
          &.slide10 img{ top: -32px; }
          img { left: 0; position: absolute; width: 580px; cursor: zoom-in;}
        }
        .pager {position: absolute; top: 82px; height: 90px; width: 30px; opacity: .5; background-color: grey; z-index: 10;
          font-size: 300%;
          &.left{ left:0;
            .arrow::after {
              position: relative; top: 3pt; content: ""; display: inline-block; width: 0.4em; height: 0.4em;
              border-right: 0.1em solid black; border-top: 0.1em solid black; transform: rotate(225deg); margin-left: 10px;
              margin-top: 30px;
            }
          }
          &.right{ right: 0;
            .arrow::after {
              position: relative; top: 3pt; content: ""; display: inline-block; width: 0.4em; height: 0.4em;
              border-right: 0.1em solid black; border-top: 0.1em solid black; transform: rotate(45deg); margin-right: 10px;
              margin-top: 30px;
            }
          }
          &:hover { background-color: black;
            .arrow::after {border-top: 0.1em solid yellow; border-right: 0.1em solid yellow;}
          }
        }
      }

      ul {list-style-type: circle; margin-left: 35px;}
      li {margin-bottom: 5px;
        a { display: block; margin-left: 20px; }
      }
    }

    .contact {
      li { margin-bottom: 10px;
        a { text-decoration: none;}
      }
    }

  }

  @media (max-width: @small-size) {
    .top {
      .slide-show { width: 600px; height: 263px;
        li {height: 153px;
          &.slide1 img{ top: -220px; transform: rotate(-2deg); }
          &.slide2 img{ top: -125px; height: 340px; }
          &.slide3 img{ top: -96px; height: 340px; }
          &.slide4 img{ top: -110px; height: 340px; }
          &.slide5 img{ top: -174px; height: auto; }
        }
        img {
          width: 600px;
        }
      }
    }
    .bottom .office .slide-show{
      width: 560px;
      li img{ width: 560px;}
    }
  }

}

#services {
  .top .image img { top: -115px; height: 402px;}
  p {font-size: 14px;}
  .sub-tabs li { float: left; margin: 10px 14px; font-size: 16px; cursor: pointer;
    &:hover { color: @dark-yellow;}
    &.selected { color: @dark-yellow; }
    span {font-size: 10px; vertical-align: super;}
  }
  .window { overflow-y: scroll; height: 700px; position: relative;
    .treatment:last-of-type { margin-bottom: 435px; }
  }
  .treatment { margin: 0 0 40px 30px; padding-bottom: 25px; border-bottom: 3px solid #fafade; }
  .problems { width: 340px; float: left;
    h4 { margin: 0 0 10px 0; }
  }
  .slide-show { float: left; overflow: hidden; position: relative; width:340px ; height: 170px;
    ul { transition: left 3s; position: absolute; top: 0; left: 0;
      &.notransition { transition: none !important; }
      li { float: left; height: 170px; width: 340px;
        div {margin-bottom: 5px; text-align: center; }
      }
    }
    img { height: 150px; width: 340px; }
  }
  .benefits { float: left; width: 203px; margin-left: 25px;
    ul {list-style-type: circle;}
    div {margin-bottom: -30px;}
    h4 { margin: 0 0 10px 0;}
  }

  .braces {
    ul {margin-left: 20px; list-style: circle;}
    img { width: 200px; height: 167px; float: right; margin-left: 5px; }

  }

  .invisalign {
    ul {margin-left: 20px; list-style: circle;}
    img { width: 200px; height: 200px; float: right; margin-left: 5px; }

  }

  .retainers {
    h4 {margin: 0;}
    > ul {margin-bottom: 15px;}
    ul {margin-left: 20px; list-style-type: circle;
    }
    .viewer {
      height: 185px; overflow: hidden; position: relative;
      img { width:581px; height: 306px; top: -45px; left: 0; position: absolute;}
    }
  }

  .annotation { font-size: 12px; margin-top: 5px; }

  @media (max-width: @small-size) {
    .top .image img { top: -68px; height:auto; }

    p, li {font-size: 18px;}
    .window {height: 1100px;}

    .pictures p { width: auto; }
    .slide-show { margin-bottom: 0;}
  }
}

#smile-gallery {
  .top .image img { top: -145px; }
  #gallery {
    .sub-tabs li { float: left; margin: 10px 48px; font-size: 16px; cursor: pointer;
      &:hover { color: @dark-yellow;}
      &.selected { color: @dark-yellow; }
    }
    .window { overflow-y: scroll; height: 700px; position: relative;
      li {margin-bottom: 10px; background-color: @light-gray; border-radius: 5px; padding-left:20px; overflow: hidden;
        &:last-of-type { margin-bottom: 435px; }
        h3 {margin-bottom: 0; text-transform: capitalize;}
        .img-window { margin: 10px 0 20px 0; width: 150px; height: 90px; overflow: hidden; position: relative;
          img { width: 300px; height: 178px; position: absolute; }
        }
        p { width:238px; float: left; margin: 30px 19px 0; text-align: center;}
        .less {
          .column:nth-of-type(1) img {left: 0;}
          .column:nth-of-type(2) img {left: -150px;}
          .img-window {
            &:nth-of-type(1) img { top: 0; }
            &:nth-of-type(2) img { top: -90px;}
          }
        }
      }
    }
    @media (max-width: @small-size) {
      .top .image img { top: -109px; height:auto;}
      .sub-tabs li { margin: 10px 25px; font-size: 21px; }
      .window li p { width: 240px; margin: 10px 10px 0; font-size: 18px; }
    }
  }

}


#patient-center {
  .top .image img { top: -80px; height:608px; }
  .sub-tabs { margin-bottom: 15px;
    li { margin: 10px 23px; font-size: 16px; float: left; cursor: pointer;
      &:hover { color: @dark-yellow; }
      &.selected { color: @dark-yellow; }
    }
  }
  .window {height: 800px; overflow-y: scroll; margin-left: 30px;
    h3{ margin-top: 0;}
    > li{ margin-bottom: 30px;
      &:last-of-type {margin-bottom: 300px;}
    }
  }
  .faq {
    .answers {
      li { margin-bottom: 5px;
        h4 { margin: 0; padding: 10px 0 10px 22px; background-color: @light-blue; cursor: pointer; position: relative;
          .arrow { width: 0; height: 0; border-top: 6px solid transparent; position: absolute; top: 13px;
            left: 8px; border-bottom: 6px solid transparent; border-left: 6px solid @dark-gray;
            display: inline-block; transition: all 1s;
            &.open {
              transform: rotate(90deg);
            }
          }
        }
        p { margin: 0; max-height:0; transition: all 1.5s; overflow-y: hidden;
          &.open {max-height: 250px; margin: 5px 5px 20px 10px; transition: max-height 1.5s;}
        }
      }
    }

    @media (max-width: @small-size) {
      p, li {font-size: 18px;}
      .window {height: 1100px;}

    }
  }

  .care, .emergency, .forms, .first-visit  {
    h4 {margin-bottom: 5px;}
    p {margin: 0 0 20px; font-size: 14px};
  }

  .first-visit, .forms {
    h4 {margin: 0 30px 0 20px;}
    ul {margin: 10px 0 30px 40px;
      li { margin-bottom: 3px;
        a img{ margin-right: 4px; vertical-align: middle; }
      }
    }
  }

  .forms {
    li { float: left; margin-right: 25px;}
  }

  @media (max-width: @small-size) {
    .top .image img { top: -81px; height: auto;}
  }

}

#blog {
  .top .image img { top: -113px; height: 582px;}
  .column-left {
    width: 270px; padding: 20px 10px; border: 1px @dark-gray solid; border-radius: 5px; margin-right: 20px;
    min-height: 350px; background-color: @light-blue;
    li {margin-bottom: 20px;}
  }
  .column-right {width: 648px;}

  .content {
    margin-bottom: 30px;
    .date { font-weight: normal; display: inline-block; margin-left: 10px; }
    .author {
      font-size: 12px;
      a {text-decoration: underline; color: @dark-gray;}
    }

    .social li{float: left; margin-right: 15px;}

    .question { font-weight: bold;}
    .wisdom img.right{ float: right; height:200px; width:233px; margin-left: 10px; }
    .why img.right { float: right; height:270px; width:200px; margin-left: 10px;}
    .aligners img.right { float: right; height:227px; width:213px; margin-left: 10px; margin-bottom: 5px;}
  }

  @media (max-width: @small-size) {
    .top .image img { top: -81px; height: auto;}
    .column-right {
      width: 458px; float: left;
      h4 {margin-top: 0;}
    }
    .column-left {
      width: 100px; float: left;
    }
  }
}

.covid {
  ul {
    list-style-type: disc;
    margin-left: 40px;
  }
}
